<header>
  <h1>Monitora le tue attività</h1>

  <div *ngIf="loading">Loading...</div>
  <div *ngIf="message" [ngClass]="messageType">{{message}}</div>
</header>

<main class="main">
  <section>
    <h2>Le attività di oggi</h2>
    <ul>
      <li *ngFor="let activity of activities$ | async">
        {{ activity.title }} - {{ activity.duration }} hours - {{ activity.createdAt |
        date:'dd/MM/yyyy HH:mm:ss' }} - {{activity.categoryName}}

        <button type="button" (click)="removeActivity(activity.id)">Delete</button>
        <button type="button" (click)="updateActivity(activity)">Edit</button>
      </li>
    </ul>
  </section>

  <section>
    <h2>Aggiungi attività</h2>

    <!-- Create/Update a new activity -->
    <form #form="ngForm" (ngSubmit)="saveActivity(form)" novalidate>

      <!-- Title -->
      <input type="text" [(ngModel)]="newActivity.title" name="title" placeholder="Title" required minlength="1"
        maxlength="255" #title="ngModel" />
      <div *ngIf="title.invalid && title.touched" class="error-messages">
        <small *ngIf="title.errors?.['required']">Title is required</small>
        <small *ngIf="title.errors?.['minlength']">Min 1 character</small>
        <small *ngIf="title.errors?.['maxlength']">Max 255 characters</small>
      </div>

      <!-- Duration -->
      <input type="number" [(ngModel)]="newActivity.duration" name="duration" placeholder="Duration (hours)" required
        min="1" max="24" #duration="ngModel" />
      <div *ngIf="duration.invalid && duration.touched" class="error-messages">
        <small *ngIf="duration.errors?.['required']">Duration is required</small>
        <small *ngIf="duration.errors?.['min']">Min 1 hour</small>
        <small *ngIf="duration.errors?.['max']">Max 24 hours</small>
      </div>

      <!-- Date -->
      <input type="date" [(ngModel)]="newActivity.date" name="date" placeholder="Date" required #date="ngModel" />
      <div *ngIf="date.invalid && date.touched" class="error-messages">
        <small *ngIf="date.errors?.['required']">Date is required</small>
      </div>

      <!-- Category -->
      <select [(ngModel)]="newActivity.categoryId" name="categoryId" required #categoryId="ngModel">
        <option value="" disabled selected>Select category</option>
        <option *ngFor="let category of categories$ | async" [value]="category.id">{{ category.name }}</option>
      </select>
      <div *ngIf="categoryId.invalid && categoryId.touched" class="error-messages">
        <small *ngIf="categoryId.errors?.['required']">Category is required</small>
      </div>

      <button type="button" (click)="resetForm(form)">
        {{ editingActivity ? 'Annulla' : 'Reset' }}
      </button>
      <button type="submit" [disabled]="form.invalid">
        {{ editingActivity ? 'Update' : 'Add' }}
      </button>
    </form>
  </section>



  <!-- update form -->
  <!-- <form #form="ngForm" (ngSubmit)="updateActivity(activity)" novalidate *ngFor="let activity of activities$ | async">

    <input type="text" [(ngModel)]="activity.title" name="title" placeholder="Title" required minlength="1"
      maxlength="255" #title="ngModel" />
    <div *ngIf="title.invalid && title.touched" class="error-messages">
      <small *ngIf="title.errors?.['required']">Title is required</small>
      <small *ngIf="title.errors?.['minlength']">Min 1 character</small>
      <small *ngIf="title.errors?.['maxlength']">Max 255 characters</small>
    </div>

    <input type="number" [(ngModel)]="activity.duration" name="duration" placeholder="Duration (hours)" required min="1"
      max="24" #duration="ngModel" />
    <div *ngIf="duration.invalid && duration.touched" class="error-messages">
      <small *ngIf="duration.errors?.['required']">Duration is required</small>
      <small *ngIf="duration.errors?.['min']">Min 1 hour</small>
      <small *ngIf="duration.errors?.['max']">Max 24 hours</small>
    </div>

    <label for="date">{{activity.date | date:'dd/MM/yyyy'}}</label>
    <input type="date" [(ngModel)]="activity.date" name="date" required #date="ngModel" />
    <div *ngIf="date.invalid && date.touched" class="error-messages">
      <small *ngIf="date.errors?.['required']">Date is required</small>
    </div>

    <input type="number" [(ngModel)]="activity.categoryId" name="categoryId" placeholder="Category ID" required />
    <button type="submit" [disabled]="form.invalid">Update Activity</button>
  </form> -->
</main>


<!-- <router-outlet /> -->